# Part 1: Pandas - from Zero to Hero

## Pandas Index Objects

### First Steps

In [1]:
import pandas as pd

In [2]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [3]:
summer.head()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [4]:
summer.tail()

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [5]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31165 entries, HAJOS, Alfred to LIDBERG, Jimmy
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Country     31161 non-null  object
 5   Gender      31165 non-null  object
 6   Event       31165 non-null  object
 7   Medal       31165 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [6]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [7]:
type(summer.index)

pandas.core.indexes.base.Index

In [8]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
       'Medal'],
      dtype='object')

In [9]:
type(summer.columns)

pandas.core.indexes.base.Index

In [10]:
summer.axes

[Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
        'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
        'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
        'NEUMANN, Paul',
        ...
        'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
        'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
        'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
        'LIDBERG, Jimmy'],
       dtype='object', name='Athlete', length=31165),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
        'Medal'],
       dtype='object')]

In [11]:
summer.columns[:3]

Index(['Year', 'City', 'Sport'], dtype='object')

In [12]:
summer.index[0]

'HAJOS, Alfred'

In [13]:
summer.index[-1]

'LIDBERG, Jimmy'

In [14]:
summer.index[100:102]      # index 100, 101 나옴.

Index(['FLATOW, Alfred', 'FLATOW, Gustav Felix'], dtype='object', name='Athlete')

In [15]:
summer.columns.tolist()

['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event', 'Medal']

In [16]:
summer.index.is_unique

False

In [17]:
summer.index.get_loc("DRIVAS, Dimitrios")

2

### Creating Index Objects

In [18]:
import pandas as pd

In [19]:
list_1 = [1,2,3]

In [20]:
pd.Index(list_1)

Int64Index([1, 2, 3], dtype='int64')

In [21]:
list_2 = ["m", "t", "w"]

In [22]:
pd.Index(list_2)

Index(['m', 't', 'w'], dtype='object')

In [23]:
index_1 = pd.Index(range(1,4))
index_1

RangeIndex(start=1, stop=4, step=1)

In [24]:
index_2 = pd.Index(["Mon", "Tue", "Wed"], name = "days")
index_2

Index(['Mo', 'Tue', 'Wed'], dtype='object', name='days')

In [25]:
pd.Series([34,32,21], index = index_1)

1    34
2    32
3    21
dtype: int64

### Changing Row Index Labels

In [ ]:
import pandas as pd

In [ ]:
summer = pd.read_csv("summer.csv", index_col="Athlete")

In [ ]:
summer.head()

In [ ]:
summer.index

In [ ]:
summer.reset_index(drop = False, inplace=True)

In [ ]:
summer.head()

In [ ]:
summer.set_index("Year", drop = True, inplace = True)

In [ ]:
summer.head()

In [ ]:
summer.index.is_unique

In [ ]:
#summer.index[0] = 1894

In [ ]:
#summer.index = "Before 2016"

In [ ]:
summer.index.size

In [ ]:
new_index = ["Medal_No{}".format(i) for i in range(1,summer.index.size+1)]
new_index

In [ ]:
summer.index = new_index

In [ ]:
summer.head()

In [ ]:
summer.tail()

In [ ]:
summer.index.is_unique

In [ ]:
summer.index.name = "Medal_No"

In [ ]:
summer.reset_index()

### Changing Column Labels

In [ ]:
import pandas as pd

In [ ]:
titanic = pd.read_csv("titanic.csv")

In [ ]:
titanic.head()

In [ ]:
titanic.tail()

In [ ]:
titanic.columns

In [ ]:
titanic.columns[0]

In [ ]:
#titanic.columns[0] = "Alive"

In [ ]:
titanic.columns = ["Alive", "Class", "Sex", "Age", "SibSp", "ParChi", "Fare", "Emb", "Deck"]

In [ ]:
titanic.head()

In [ ]:
titanic.columns.name

In [ ]:
titanic.columns.name = "Pass_Charact"

In [ ]:
titanic.head()

In [ ]:
titanic.index.name = "Passenger_no"

### Renaming Index & Column Labels

In [ ]:
import pandas as pd

In [ ]:
summer= pd.read_csv("summer.csv", index_col = "Athlete")

In [ ]:
summer

In [ ]:
#summer.index[0] = 'HAYOS, Alfred'

In [ ]:
summer.rename(mapper = {"HAJOS, Alfred":'HAYOS, Alfred'}, axis = "index")

In [ ]:
summer.rename(index = {"HAJOS, Alfred":'HAYOS, Alfred'}, inplace = True)

In [ ]:
summer

In [ ]:
summer.rename(mapper = {"Sex":"Gender", "City":"Host_City"}, axis = "columns")

In [ ]:
summer.rename(columns = {"Sex":"Gender", "City":"Host_City"}, inplace = True)

In [ ]:
summer